01.SOA-and-REST/Practice/CalculatorClient/Service References/ServiceReferenceCalc/ServiceCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCalculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51144/ServiceCalculator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51144/ServiceCalculator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCalculator_SumNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SumNumbers" />
  </wsdl:message>
  <wsdl:message name="IServiceCalculator_SumNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalculator_DivideNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:DivideNumbers" />
  </wsdl:message>
  <wsdl:message name="IServiceCalculator_DivideNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCalculator">
    <wsdl:operation name="SumNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalculator/SumNumbers" message="tns:IServiceCalculator_SumNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalculator/SumNumbersResponse" message="tns:IServiceCalculator_SumNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivideNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalculator/DivideNumbers" message="tns:IServiceCalculator_DivideNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalculator/DivideNumbersResponse" message="tns:IServiceCalculator_DivideNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCalculator" type="tns:IServiceCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SumNumbers">
      <soap:operation soapAction="http://tempuri.org/IServiceCalculator/SumNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideNumbers">
      <soap:operation soapAction="http://tempuri.org/IServiceCalculator/DivideNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCalculator">
    <wsdl:port name="BasicHttpBinding_IServiceCalculator" binding="tns:BasicHttpBinding_IServiceCalculator">
      <soap:address location="http://localhost:51144/ServiceCalculator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>